useDynLib(GlobalAncova)

importFrom(annotate, lookUp)
importFrom(AnnotationDbi, Term, Secondary, mappedkeys, keys)
importFrom(Biobase, listLen)
importFrom(dendextend, cutree, get_nodes_attr, set, "%>%")
importFrom(corpcor, cov.shrink)
importFrom(globaltest, findFocus, focusLevel)
importFrom(GSEABase, bcCategory, AnnotationIdentifier)
importFrom(VGAM, vglm, deviance)

exportClasses(GAhier)

exportMethods("GlobalAncova", "GlobalAncova.closed", "Plot.genes", "Plot.subjects")
exportMethods("sigEndnodes", "results", "Plot.hierarchy")

export(gGlobalAncova, GAGO, GABroad, GlobalAncova.decomp, gGlobalAncova.hierarchical, pair.compare, Plot.features, Plot.sequential, Plot.all)


