useDynLib(GlobalAncova)

importFrom(annotate, lookUp)

importFrom(AnnotationDbi, Term, Secondary)

exportMethods("GlobalAncova", "GlobalAncova.closed", "Plot.genes", "Plot.subjects")

export(GAGO, GAKEGG, GABroad, GlobalAncova.decomp, pair.compare, Plot.sequential, Plot.all)


