importFrom(annotate, lookUp)

importFrom(AnnotationDbi, Term, Secondary)

#import(globaltest)

exportMethods("GlobalAncova", "GlobalAncova.closed", "Plot.genes", "Plot.subjects")

export(GAGO, GlobalAncova.decomp, pair.compare, Plot.sequential, Plot.all)


